html {
  overflow-y: scroll;
}
html::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ececec;
}

html::-webkit-scrollbar {
  width: 5px;
  height: 7px
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 2px 2px 10px #ffffff4d;
  background-color: #c2c2c2;
}

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;